extends layouts/main-layout.pug 

block styles 
  link(rel="stylesheet", href="/css/product.css")

block content
  main
    if prods.length > 0
      .grid
        each product in prods
          article.card.product-item
            header.card__header
              h1.product__title #{product.title}
            .card__image
              img(src="https://images.squarespace-cdn.com/content/v1/521f2a38e4b05f88e0400f64/1595419392323-QEQ0CNW5RXZTA2NA9TJX/ke17ZwdGBToddI8pDm48kDCmLgreMUsEfQLyT-cj-_VZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIkC4H7TLQNvXOcApzPJYOwkTV8HhvFmNv4zbKiGa6qTsKMshLAGzx4R3EDFOm1kBS/GGsq.jpg?format=1500w", alt="Grown and Gathered Recipe Book Cover 2 People holding Chicken in a farm")
            .card__content
              h2.product__price $34.99
              p.product__description In Grown & Gathered, Matt and Lentil Pubrick's first book, they tell you all that they know about growing, gathering, nurturing and cooking your own food. The first part of the book is Matt and Lentil's guide to producing your own food. The information, advice and projects can be used whether you have a 3-acre block or a courtyard with planter boxes.
            .card__actions
              button.btn Add to Cart
    else 
      h1 No Products