.product-form {
  width: 20rem;
  max-width: 500px;
  margin: auto;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control {
  margin: 1rem 0;
  max-width: 500px;
}

.form-control input {
  border: 1px solid #6c8991;
  font: inherit;
  border-radius: 2px;
}

.form-control label {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
}
.button {
  font: inherit;
  border: 1px solid #6c8991;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}
button:hover,
button:active {
  background-color: 6c8991;
  color: white;
}
